<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Skorzhyk_Recipe::recipe"
             title="Recipes"
             module="Skorzhyk_Recipe"
             sortOrder="400"
             action="recipe/info"
             resource="Skorzhyk_Recipe::recipe"/>
    </menu>
</config>
