<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Fidesio_Recipe::recipe" title="Recipes" module="Fidesio_Recipe"
             sortOrder="400"
             parent="Fidesio_Base::base"
             action="recipe/info"
             resource="Fidesio_Recipe::recipe"/>
    </menu>
</config>
