<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">-->
        <!--<arguments>-->
            <!--<argument name="collections" xsi:type="array">-->
                <!--<item name="skorzhyk_recipe_listing_data_source" xsi:type="string">-->
                    <!--Skorzhyk\Recipe\Model\ResourceModel\Recipe\Grid\Collection-->
                <!--</item>-->
            <!--</argument>-->
        <!--</arguments>-->
    <!--</type>-->
    <!--<virtualType name="Skorzhyk\Recipe\Model\ResourceModel\Recipe\Grid\Collection"-->
                 <!--type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">-->
        <!--<arguments>-->
            <!--<argument name="mainTable" xsi:type="string">skorzhyk_recipe</argument>-->
            <!--<argument name="resourceModel" xsi:type="string">Skorzhyk\Recipe\Model\ResourceModel\Recipe</argument>-->
        <!--</arguments>-->
    <!--</virtualType>-->
    <!--<virtualType name="RecipeFileUploader" type="Magento\Catalog\Model\ImageUploader">-->
        <!--<arguments>-->
            <!--<argument name="baseTmpPath" xsi:type="string">recipes/tmp</argument>-->
            <!--<argument name="basePath" xsi:type="string">recipes</argument>-->
            <!--<argument name="allowedExtensions" xsi:type="array">-->
                <!--<item name="maxFileSize" xsi:type="number">2097152</item>-->
                <!--<item name="pdf" xsi:type="string">pdf</item>-->
            <!--</argument>-->
        <!--</arguments>-->
    <!--</virtualType>-->
    <!--<type name="Skorzhyk\Recipe\Controller\Adminhtml\File\Upload">-->
        <!--<arguments>-->
            <!--<argument name="fileUploader" xsi:type="object">RecipeFileUploader</argument>-->
        <!--</arguments>-->
    <!--</type>-->
    <!--<type name="Skorzhyk\Recipe\Model\MoveFile">-->
        <!--<arguments>-->
            <!--<argument name="fileUploader" xsi:type="object">RecipeFileUploader</argument>-->
        <!--</arguments>-->
    <!--</type>-->
    <!--<type name="Skorzhyk\Recipe\Controller\Index\Save">-->
        <!--<arguments>-->
            <!--<argument name="fileUploader" xsi:type="object">RecipeFileUploader</argument>-->
        <!--</arguments>-->
    <!--</type>-->
</config>
